@charset "ISO-8859-1";

body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.sidenav a:hover {
	color: #f1f1f1;
}
#Uimage img {
	position: relative;
	left: 800px;
	top: 130px;
	height: 300px;
	width: 300px;
}
 .logout{
	position:relative;
	left:1400px;
}
.logout a{
	text-decoration:none;
	padding:5px;
	border:1px solid black;
	color:white;
	border-radius:5px;
	background:black
}
/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
